Cargo.lock
node_modules
*/assets/*
.git
raw/*
private
dist/*
outputs/*
.env

# binaries
go-server/main
go-server/mediamtx
mediamtx

# stream artifacts and model weights
*.h264
*.mp4
*.buf
*.weights
*.pt

# secrets
raspi/wpa_supplicant.conf
